# íŒŒì´ì¬ ë°ì´í„°í”„ë ˆì„ ìƒì„±(pd.DataFrame) ë° ë°ì´í„° ê¸°ë³¸ ì •ë³´(ë°ì´í„°í”„ë ˆì„.info()) í™•ì¸í•˜ê¸°
- ë°ì´í„° í”„ë ˆì„ : 2ì°¨ì› ë°ì´í„°ë¥¼ í‘œí˜„í•˜ê¸° ìœ„í•œ ìë£Œêµ¬ì¡°ë¡œ, í–‰ê³¼ ì—´ë¡œ êµ¬ì„±ëœ ë°ì´í„°ë¡œì„œ ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±
- info() : DataFrameì— info() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´, í”¼ì²˜ë“¤ì˜ ê¸°ë³¸ ì •ë³´ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŒ
- ì¸ë±ìŠ¤ ë²”ìœ„(RangeIndex), null ê°’ ê°œìˆ˜(Non-Null Count), ë°ì´í„° íƒ€ì…(Dtype), ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰(memory usage)

In [1]:
# íŒŒì´ì¬ ë°ì´í„° ê¸°ë³¸ ì •ë³´ í™•ì¸í•˜ê¸°(info())
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'name': ['choi','ko','kim'],
    'age':[20, np.nan, 31],
    'class':[np.nan, np.nan, 1]
})

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   class   1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

# íŒŒì´ì¬ ê²°ì¸¡ì¹˜ ì‚­ì œ, 0ìœ¼ë¡œ ëŒ€ì²´, íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì²´
- ê²°ì¸¡ì¹˜: ë§ ê·¸ëŒ€ë¡œ ë¹„ì–´ìˆëŠ” ê°’, ì¦‰ ëˆ„ë½ëœ ê°’ì„ ì˜ë¯¸í•˜ê³ , None ë˜ëŠ” NaN ê°’ìœ¼ë¡œ í‘œê¸°ë¨
- ê²°ì¸¡ì¹˜ ë³´ìœ  í–‰ ì‚­ì œ : `ë°ì´í„°í”„ë ˆì„.dropna()`  #ê²°ì¸¡ì¹˜ë¥¼ ë³´ìœ í•˜ê³  ìˆëŠ” í–‰ì„ DataFrame ì˜¤ë¸Œì íŠ¸ì—ì„œ ì‚­ì œí•¨
- íŠ¹ì •ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ ëŒ€ì²´ : `ë°ì´í„°í”„ë ˆì„.fillna(íŠ¹ì •ê°’)`
- ì•, ë’¤ ê°’ìœ¼ë¡œ ê²°ì¸¡ì¹˜ ëŒ€ì²´ : `ë°ì´í„°í”„ë ˆì„.fillna(method='íŠ¹ì •ë©”ì†Œë“œ')` : ê²°ì¸¡ê°’ì„ ì• ë°©í–¥(fillna(method='ffill')) ë˜ëŠ” ë’· ë°©í–¥ìœ¼ë¡œ ì±„ìš°ê¸°(fillna(method='bfill'))
- í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´ : `ë°ì´í„°í”„ë ˆì„.fillna({'ì¹¼ëŸ¼ëª…':int(ë°ì´í„°í”„ë ˆì„['ì¹¼ëŸ¼ëª…'].mean)}, inplace=True)`
- ì‹œê³„ì—´ ë°ì´í„°ì˜ ê°’ì— ì„ í˜•ìœ¼ë¡œ ë¹„ë¡€í•˜ëŠ” ë°©ì‹ìœ¼ë¡œ ê²°ì¸¡ê°’ ëŒ€ì²´ : `ë°ì´í„°í”„ë ˆì„.interpolate(inplace = True)` #ì´ì „ í–‰(ì§ì „ì‹œê°„)ê³¼ ë‹¤ìŒ í–‰(ì§í›„ì‹œê°„)ì˜ í‰ê· ìœ¼ë¡œ ëŒ€ì²´

* ì£¼ì˜ ì‚¬í•­ ğŸ™…ğŸ»â€â™€ï¸ 
- inplace = True
    * í•´ë‹¹ ë©”ëª¨ë¦¬ ì£¼ì†Œë¥¼ ê·¸ëŒ€ë¡œ ì´ìš©í•´ì„œ, ì›ë³¸ì„ ëŒ€ì²´í•˜ëŠ” ì˜µì…˜
    * `ë°ì´í„°í”„ë ˆì„1 = ë°ì´í„°í”„ë ˆì„1.fillna(inplace = True)`
        * ë©”ëª¨ë¦¬ ì£¼ì†Œìƒ ì¶©ëŒ ì—ëŸ¬ ë°œìƒí•˜ì—¬ ê°ì²´ì— ì§ì ‘ ì„ ì–¸ ë¶ˆê°€ëŠ¥ (`None Type` object has no attribute 'fillna')
        * ë”°ë¼ì„œ ì„ ì–¸ì€ ì˜µì…˜ê³¼ ë‹¤ë¥¸ ì¤„ì—ì„œ ì§„í–‰í•˜ë©´ ë¨

In [3]:
df.dropna()
df.fillna(0) # 0ì´ë¼ëŠ” ê°’ìœ¼ë¡œ ëŒ€ì²´í•˜ê¸°

   name   age  class
0  choi  20.0    0.0
1    ko   0.0    0.0
2   kim  31.0    1.0