In [1]:
# 파이썬 데이터 기본 정보 확인하기(info())
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'name': ['choi','ko','kim'],
    'age':[20, np.nan, 31],
    'class':[np.nan, np.nan, 1]
})

In [2]:
# info() : DataFrame에 info() 메서드를 사용하면, 피처들의 기본 정보를 확인할 수 있음
# 인덱스 범위(RangeIndex), null 값 개수(Non-Null Count), 데이터 타입(Dtype), 메모리 사용량(memory usage)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     2 non-null      float64
 2   class   1 non-null      float64
dtypes: float64(2), object(1)
memory usage: 200.0+ bytes

In [3]:
# 파이썬 결측치 삭제, 대체 (dropna, fillna)
# DataFrame.dropna() : 결측치를 보유하고 있는 행을 DataFrame 오브젝트에서 삭제함
df.dropna()
# DataFrame.fillna(특정값) : 결측치를 특정값으로 대체
# DataFrame.fillna(method='특정메소드') : 결측값을 앞 방향(fillna(method='ffill')) 또는 뒷 방향으로 채우기(fillna(method='bfill'))
df.fillna(0) # 0이라는 값으로 대체하기

   name   age  class
0  choi  20.0    0.0
1    ko   0.0    0.0
2   kim  31.0    1.0